<ion-view hide-back-button="true" title="{{ title }}">
  <ion-content padding="true">

<!--    <div class="row">
      <div class="col">
        <img src="engage/images/internSJC.jpg" class="full-image" alt="..."/>
      </div>
    </div>-->

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email/Username</span>
        <input type="text" id="identifier" name="identifier" placeholder="email@example.com" value="admin">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" id="password" name="password" placeholder="****" value="admin">
      </label>

      <button class="button button-full button-positive" id="signin" ng-click="signIn()">
        Sign In
      </button>

<!--      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-75 text-right"><a href="#/forgotPassword">Forgot Password?</a></div>
      </div>-->
    </div>
  </ion-content>
</ion-view>
