<ion-view title="{{ title}}">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="back()"><i class="icon ion-ios7-arrow-back"></i></button>
    <button id="reload" class="button button-clear" ng-click="reload()"><i class="icon ion-ios7-reload"></i></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <div class="item item-icon-left" href="#">
        <i class="icon ion-information"></i>
        Longitude
        <span class="item-note">
          {{ tree.longitude}}
        </span>
      </div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-information"></i>
        Latitude
        <span class="item-note">
          {{ tree.latitude}}
        </span>
      </div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-information"></i>
        Accuracy
        <span class="item-note">
          {{ tree.accuracy}}
        </span>
      </div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-information"></i>
        Diameter
        <span class="item-note">
          {{ tree.diameter}}
        </span>
      </div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-information"></i>
        Condition
        <span class="item-note">
          {{ tree.condition}}
        </span>
      </div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-information"></i>
        Height
        <span class="item-note">
          {{ tree.height}}
        </span>
      </div>
    </div>

  </ion-content>
</ion-view>